
Estruturas_condicionais/.classpath
Estruturas_condicionais/.project
*.prefs
Estruturas_condicionais/bin/app/telefonia.class
Estruturas_condicionais/bin/Dia_semana.class
Estruturas_condicionais/bin/telefonia.class
Estruturas_condicionais/src/app/telefonia.java
Estruturas_condicionais/src/app/telefonia.java
